<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.codesync.mapper.MemberMapper">
<!-- 	<select id="authenticate" resultType="org.kacang.domain.UserDTO">
		select * from users where username = #{userId} and password = #{userPw}
	</select> -->
	<select id="isUsernameDuplicate" resultType="int">
		select count(*) from user_tbl where userId = #{userId}	
	</select>
	<insert id="registerUser" parameterType="org.codesync.domain.UserDTO">
		insert into user_tbl (userId, userPw, userEmail, userRegDate, snsToken, snsProvider, authAdmin)
					   values(#{userId}, #{userPw}, #{userEmail}, CURRENT_DATE, '-', '-', '1')
	</insert>
 	<select id="read" resultType="org.codesync.domain.UserDTO">
		select * from user_tbl where userId = #{userId}
	</select>
 	<delete id="deleteRememberMe">
		delete from persistent_logins where userId = #{userId}
	</delete>
	<insert id="insertRememberMe" parameterType="map">
		insert into persistent_logins values(#{userId}, #{series}, #{token}, CURRENT_DATE)
	</insert>
	<select id="getAllUsers" resultType="org.codesync.domain.UserDTO">
		select * from user_tbl
	</select>
	<update id="updateUserId" parameterType="map">
		update user_tbl set userId = #{userId} where userNo = #{userNo}
	</update>
	<select id="getUserInfo" resultType="org.codesync.domain.UserDTO">
		select * from user_tbl where userNo = #{userNo}
	</select>
	<select id="chkPassword" parameterType="map" resultType="int">
		select count(*) from user_tbl where userPw = #{currentPassword} and userNo = #{userNo}
	</select>
	<update id="updatePassword" parameterType="map">
		update user_tbl set userPw = #{newPassword} where userNo = #{userNo}
	</update>
	<update id="updateEmail" parameterType="map">
		update user_tbl set userEmail = #{email} where userNo = #{userNo}
	</update>
	<select id="getProjectCount" resultType="int">
		select count(*) from project_user_tbl where userNo = #{userNo}
	</select>
</mapper>