<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.codesync.mapper.ProjectMapper">
	<insert id="createProject" parameterType="org.codesync.domain.ProjectVO"  useGeneratedKeys="true" keyProperty="projectNo">
		insert into project_tbl (projectName, projectDisclosure, projectDesc, muserNo, projectCreateDate, token)
						 values (#{projectName}, #{projectDisclosure}, #{projectDesc}, #{muserNo}, CURRENT_DATE, #{token})
	</insert>
	<insert id="createErdSync">
		insert into erd_tbl (projectNo) values (#{projectNo})
	</insert>
	<insert id="createCodeSync">
		insert into CodeSync_tbl (projectNo) values (#{projectNo})
	</insert>
	<insert id="createDocsWrapper">
		insert into docs_wrapper_tbl (projectNo) values (#{projectNo})
	</insert>
	<insert id="insertProjectMasterUser" parameterType="map">
		insert into project_user_tbl (userNo, projectNo, codeAuth, erdAuth) values (#{userNo}, #{projectNo}, 2, 2)
	</insert>
	<select id="getProjectList" resultType="org.codesync.domain.ProjectUserVO">
		select * from project_user_tbl where userNo = #{userNo}
	</select>
	<select id="getProjectByProjectNo" resultType="org.codesync.domain.ProjectVO">
		select * from project_tbl where projectNo = #{projectNo}
	</select>
	<select id="getProjectUsers" resultType="org.codesync.domain.ProjectUserVO">
		select * from project_user_tbl where projectNo = #{projectNo}
	</select>
	<select id="getProjectUserInfo" resultType="org.codesync.domain.UserDTO">
		select * from user_tbl where userNo = #{userNo}	
	</select>
	<insert id="inviteUser" parameterType="map">
		insert into project_invite_tbl (userEmail, token, projectName, projectNo, userNo)
								values (#{userEmail}, #{token}, #{projectName}, #{projectNo}, #{userNo})
	</insert>
	<select id="chkInvitedDuplicated" parameterType="map" resultType="int">
		select count(*) from project_invite_tbl where projectNo = #{projectNo} and userNo = #{userNo}
	</select>
	<delete id="deleteInviteInfo" parameterType="map">
		delete from project_invite_tbl where projectNo = #{projectNo} and userNo = #{userNo}
	</delete>
	<select id="getInviteInfo" parameterType="String" resultType="org.codesync.domain.ProjectInviteVO">
		select * from project_invite_tbl where token = #{token}
	</select>
	<insert id="insertProjectMember" parameterType="map">
		insert into project_user_tbl (userNo, projectNo, codeAuth, erdAuth)
							  values (#{userNo}, #{projectNo}, 2, 2)
	</insert>
	<delete id="deleteToken" parameterType="String">
		delete from project_invite_tbl where token = #{token}
	</delete>
	<select id="chkExpired" parameterType="String" resultType="int">
		select count(*) from project_invite_tbl where token = #{token}
	</select>
	<select id="getProjectErd" resultType="org.codesync.domain.ErdVO">
		select * from erd_tbl where projectNo = #{projectNo}
	</select>
	<select id="getProjectCode" resultType="org.codesync.domain.CodeSyncVO">
		select * from CodeSync_tbl where projectNo = #{projectNo}
	</select>
	<select id="getProjectDocs" resultType="org.codesync.domain.DocsWrapperVO">
		select * from docs_wrapper_tbl where projectNo = #{projectNo}
	</select>
	<select id="getProjectGantt" resultType="org.codesync.domain.GanttVO">
		select * from gantt_tbl where projectNo = #{projectNo}
	</select>
	<delete id="deleteProject">
		delete from project_tbl where projectNo = #{projectNo}
	</delete>
	<select id="getInvitedUserNo" resultType="int">
		select userNo from project_invite_tbl where projectNo = #{projectNo}
	</select>
	<select id="getInvitedUserInfo" resultType="org.codesync.domain.UserDTO">
		select * from user_tbl where userNo = #{userNo}
	</select>
	<select id="getProjectNoByToken" resultType="int">
		select projectNo from project_tbl where token = #{projectToken}
	</select>
	<insert id="joinProjectByToken" parameterType="map">
		insert into project_user_tbl (userNo, projectNo, codeAuth, erdAuth)
							   values(#{userNo}, #{projectNo}, 2, 2)
	</insert>
	<select id="chkProjectJoin" parameterType="map" resultType="int">
		select count(*) from project_user_tbl where userNo = #{userNo} and projectNo = #{projectNo}
	</select>
	<select id="chkProjectExist" parameterType="String" resultType="int">
		select count(*) from project_tbl where token = #{projectToken}
	</select>
	<delete id="removeUser" parameterType="map">
		delete from project_user_tbl where projectNo = #{projectNo} and userNo = #{userNo}
	</delete>
	<delete id="cancelInvitation" parameterType="map">
		delete from project_invite_tbl where projectNo = #{projectNo} and userNo = #{userNo}
	</delete>
</mapper>